---
import { ClientRouter } from "astro:transitions";
import { twMerge } from "tailwind-merge";

import "@fontsource-variable/nunito";
import "@fontsource-variable/space-grotesk";
import "./_root.layout.css";

import { AppManifest } from "@/configs";

import { InlineSprites } from "@/components/astro";
import { Footer, Navbar } from "@/components/interfaces";

export interface Props {
	title: string;
	description?: string;
	bodyClass?: string;
	class?: string;
	navbarClass?: string;
	padded?: boolean;
	fixed?: boolean;
}

const {
	title,
	description,
	bodyClass,
	navbarClass,
	class: _class,
	padded,
	fixed,
} = Astro.props;

const metaDescription = description || AppManifest.application.description;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {AppManifest.application.name}</title>
		{ metaDescription && <meta name="description" content={metaDescription}/> }
		<ClientRouter/>
		<slot name="head"/>
	</head>
	<body class={bodyClass}>
		<InlineSprites transition:persist/>
		<Navbar class={navbarClass} fixed={fixed} transition:persist/>
		<main class={twMerge(padded !== false && "pt-12 pb-32", _class)}>
			<slot>
		</main>
		<Footer transition:persist/>
	</body>
</html>
